@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Testowe menu</title>
    </head>
    <body>
        <div id="root"></div>
        <script type="text/javascript" src="@Url.Content("~/bundle.js")"></script>
    </body>
</html>