/* DivTable.com */
.divTable{
    display: table;
    width: 100%;
}
.divTableRow {
    display: inline-block;
    margin: 10px;
    width: 300px;
    background-color: #ffffff;
}
.contact-info{
    overflow: hidden;
    height: 50px;
}
.line-info{
    display: block;
    overflow: hidden;
    height: 20px;
}
.divTableHeading {
    background-color: #EEE;
    font-size: 17px;
    text-align: center;
    display: table-header-group;
}
.divTableCell, .divTableHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
    width: 19%;
}
.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}
.divTableFoot {
    background-color: #EEE;
    font-size: 17px;
    text-align: center;
    display: table-footer-group;
    font-weight: bold;
}
.divTableBody {
    display: table-row-group;
}
.divTableButton {
    width: 5%;
}

/* buttons*/
.bigButton{
    height:50px;
    width:120px;
    font-size: 120%;
    margin: 10px;
}
.buttonContainer{
    display: flex;
    justify-content: space-around;
}
button.buttonsEditManageAndDelete{
    padding-left: 4px;
    padding-right: 4px;
    font-size: 120%;
    width: 30%;
}
.editAndDelete{
    margin: 10px;
    font-size: 120%;
    width: 40%;
}
.noClients{
    font-size: 150%;
    text-align: center;
}
.contact-list{
    width: 100%;
}
.client-name{
    text-align: center;
    font-weight: 900;
    font-size: 150%;
}
.anotherTools{
    margin: 10px;
    font-size: 110%;
}

.select-view{
    display: inline-block;
    width: 100%;
}
.select-block{
    float: right;
    margin-right: 50px;
}
.label-selection{
    font-weight: 100;
    font-size: 150%;
}
.selection-info{
    margin: 5px;
}